body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
/* Desktop */
@media only screen and (min-width: 1024px){
    .header{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 2% 5% 2% 5%;
    }
    .heading{
        font-size: 22px;
        color: #354463;
        width: 160px;
        height: 63px;
    }
    .pages{
        display: flex;
        justify-content: space-evenly;
        font-size: 16px;
        width: 50%;
        color: #354463;
        font-weight: lighter;
    }
    .btn-donate{
        padding-top: 1.5%;
        width: 160px;
        height: 40px;
        background-color: #C1F7D5;
        color: #354463;
        border-radius: 100px;
        font-size: 18px;    
        text-align: center;
    } 

    .stop-container{
        background-image: url('assets/about-us/annie-spratt-427339-unsplash.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        height: 400px;
        background-color: #354463;
        display: flex;
        justify-content: space-around;
        padding: 2% 5%;

    }
    .title{
        font-family: flood std;
        color: #FFFFFF;
        width: 296px;
        height: 224px;
        text-align: left;
        font-size: 72px;
    }
    .stop-content-container{
        width: 544px;
        height: 336px;
        background-color: #FFFFFF;
        margin-top: 120px;
        border: 2px solid black;
        & p{
            width: 416px;
            height: 213px;
            font-size: 28px;
            color: #354463;
            margin-left: 64px;
            text-align: left;
            font-weight: bold;
        }
    }
    .btn-issue{
        width: 160px;
        height: 40px;
        background-color: #354463;
        position: relative;
        top: -20px;
        left: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }

    .mission-container{
        height: 856px;
        background-color: #354463;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        & h1{ 
            padding-left: 5%;
            /* width: 1122px; */
            height: 165px;
            padding-right: 5%;
            color: #FFFFFF;
            margin-top: 5%;
            width: 80vw;
        }
    }
    .btn-mission{
        width: 160px;
        height: 40px;
        margin-top: 10%;
        background-color: #FFFFFF;
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .icon{
        height: 20%;
    }

    .logos{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        margin-left: 5%;
        grid-gap: 2em;
        & h3{
            color: #FFFFFF;
        }
        & p{
            color: #FFFFFF;
            font-weight: lighter;
            padding: 0px;
        }
    }

    .team{
        background-color: #FFFFFF;
        margin-top: 10%;
        height: 764px;
        /* display: flex;
        justify-content: column; */
        
    }
    .leaders{
        display: flex;
        & p{
            width: 444px;
            height: 80px;
            padding-right: 5%;
            padding-left: 10%;
            color: #354463;
            font-weight: lighter;
        }
        & h1{
            width: 480px;
            height: 109px;
            margin-left: 5%;
            /* font: normal normal bold 44px/56px Helvetica; */
            color: #354463;
            text-align: left;
        }
    }

    .img{
        width: 220px;
        height: 220px;
    }
    .btn-team{
        margin-left: 5%;
        background-color: #354463;
        width: 160px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .team-pics{
        display: grid;
        grid-template-columns:  repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        padding-left: 5%;
        & .name{
            position: relative;
            top: -25px;
            left: 10%;
            background-color: #354463;
            width: 220px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
        }

    }

    .impact-container{
        background-image: url('assets/about-us/Impact Background.png');
        height: 470px;
        background-position: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #354463;
        /* padding-left: 50%; */
        text-align: center;
    }
    .impact{
        /* width: 742px; */
        height: 191px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10%;
        & h1{
            height: 21vh;
            width: 57vw;
            margin-left: 20%;
            color: #FFFFFF;
        }
        & .btn-impact{
            width: 160px;
            height: 40px;
            background-color: #FFFFFF;
            margin-left: 40%;
            /* display: flex; */
            text-align: center;
            padding-top: 1.5%;
            color: #354463;
        }
    }
    .count{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        & h1{
            font-family: flood std;
            color: #FFFFFF;
            font-weight: bold;
        }
        & p{
            color: #FFFFFF;
        }
    }



    .slider-container {
        background-color: #354463;
        padding: 5% 10% 0 10%;
        box-sizing: border-box;
    }

    .slide-wrapper {
        /* position: relative; */
        display: flex;
        overflow-x: auto;
        column-gap: 1%; 
        /* overflow-y: visible; */
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;


    }

    .slide {
        background-color: white;
        /* flex: 1 0 45%; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-top: 10%;

        padding-bottom: 5%;

        position: relative;

    }

    .slide img {
        width: 100%;
        position: relative;
        display: flex;
        /* justify-content: space-between; */
    }

    .slide h3,
    p {
        padding: 0 5%;
    }

    .slide .btn-white {
        width: 30%;
        position: absolute;
        z-index: 2;
        top: -20px;
        margin-left: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        min-width: 160px;
        font-weight: lighter;
        height: 40px;
        color:#354463;



    }

    .slide .btn-green {
        width: 30%;
        margin-left: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C1F7D5;
        color: #354463;
        font-weight: bold;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        min-width: 160px;
        height: 40px;
        font-size: 18px;
        

    }

    .slide .slide-arrow {
        display: none;
    }

    .slider-nav {
        display: flex;
        column-gap: 1rem;
        height: 40px;
        justify-content: center;
        padding-top: 5%;
    }

    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        background-color: white;
        border-radius: 50%;
        opacity: 0.75;
    }

    .slider-nav a:hover {
        opacity: 1;
        box-shadow: 0 0 10px 3px rgb(255, 255, 255);

    }

    .slider-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slider-title h1 {
        width: 80%;
        text-align: left;
        font-family: 'Flood Std';
    }

    .slider-title .slide-arrow {
        background-color: #C1F7D5;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        /* align-self: center; */
        padding: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-title .slide-arrow:hover {
        box-shadow: 0 0 10px 3px rgba(75, 255, 123, 0.5);

    }

    .subscribe-container{
        display: flex;
        /* flex-direction: ; */
        flex-wrap: wrap; 
        justify-content: space-between;
        align-items: center;
        background-color: #C1F7D5;
        padding: 2%;
        
    }
    .subscribe-container h2{
        width: 30%;
        color: #354463;
        margin-left: 5%;
    }
    .input-div{
        width: 30%;
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px; 
        /* display: flex;
        justify-content: flex-start;  */

        
    }
    .input-div input{
        
        border: none; 
        outline: none;
    }
    .subscribe-container .btn-black{
        width: 10%;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
        margin-right: 10%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background: #354463;
        min-width: 160px;
        font-weight: lighter;
        
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 40px;
        & h2{
            color: #354463;
            
        }
    }

    .footer h1{
        margin-top: 40px;
        font-family: flood std;
        color: #354463;
    }

    .footer-contact p{
        margin: 10px 0;
        /* text-decoration: underline; */
        font-weight: lighter;
        color: #354463;
    }
    .footer-contact h5{
        text-decoration: underline;
        padding-left: 5%;
        color: #354463;
    }
    .footer-contact hr{
    display: none;
    }

}

/* mobile */
@media only screen and (max-width: 768px){
    .header{
        display: grid;
        grid-template-areas: "heading page" "btn  btn";
        align-items: center;
        margin-bottom: 4%;
        padding: 0 10% 0 10%;
    }
    
    .heading{
        grid-area: heading;
        font-size: 22px;
        color: #354463;
       
    }
    .pages{
        grid-area: page;
        color: #354463;
        font-weight:  lighter;
        font-size: 16px;
    }
    .btn-donate{
        grid-area: btn;
        /* height: 40px; */
        padding: 10px;
        background: #C1F7D5;
        border-radius: 100px;
        text-align: center;
        color: #354463;
        font-weight: bold;
           
    }
    .stop-container{
        background-image: url('assets/about-us/annie-spratt-427339-unsplash.png');
        background-repeat: no-repeat;
        background-position-x: 30%;
        
        background-size: cover;
        /* height: 70vh; */
        background-color: #354463;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 2% 5%;
    
    }
    .title{
        font-family: flood std;
        color: #FFFFFF;
        width: 29%;
        /* height: 224px; */
        text-align: center;
        font-size: 44px;
    }
    .stop-content-container{
        /* width: 50%; */
        /* height: 336px; */
        background-color: #FFFFFF;
        /* margin-top: 120px; */
        border: 2px solid black;
        margin-bottom: 5%;
        & p{
            /* width: 205%; 
            height: 100px;  */
            font-size: 22px;
            color: #354463;
            padding: 5%;
            text-align: center; 
            font-weight: bold;
        }
    }
    .btn-issue{
        width: 160px;
        height: 40px;
        background-color: #354463;
        /* text-align: center; */
        position: relative;
        top: -20px;
        left: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    .mission-container{
        /* height: 856px; */
        background-color: #354463;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        & h1{ 
            margin-left: 20%;
            /* width: 1122px; */
            /* height: 165px; */
            /* padding-right: 5%; */
            color: #FFFFFF;
            margin-top: 5%;
            /* width: 80vw; */
            width: 330px;
            height: 134px;
            font-size: 22px;
            margin-right: 15%;
        }
        
    }
    .btn-mission{
        width: 160px;
        height: 40px;
        margin-top: 10%;
        background-color: #FFFFFF;
        /* margin-left: 5%; */
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .icon{
        height: 20%;
    }
    
    .logos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        margin-left: 5%;
        grid-gap: 1em;
        margin-top: 5%;
        & h3{
            color: #FFFFFF;
        }
        & p{
            color: #FFFFFF;
            font-weight: lighter;
            padding: 0px;
        }
    }
    .team{
        background-color: #FFFFFF;
        margin-top: 10%;
        /* height: 764px; */
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        
    }
    .leaders{
        display: flex;
        flex-direction: column;
        & p{
            /* width: 444px; */
            height: 80px;
            margin-right: 15%;
            margin-left: 15%; 
            color: #354463;
            font-weight: lighter;
        }
        & h1{
            width: 256px;
            height: 50px;
            margin-left: 20%;
            /* font: normal normal bold 44px/56px Helvetica; */
            color: #354463;
            /* text-align: center; */
            font-size: 22px;
            
        }
    }
    .btn-team{
        margin-left: 30%;
        background-color: #354463;
        width: 160px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }

    .img{
        width: 144px;
        height: 144px;
    }
    .team-pics{
        display: grid;
        grid-template-columns:  repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-left: 5%;
        & .name{
            position: relative;
            top: -5px;
            /* left: 10%; */
            background-color: #354463;
            width: 144px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            text-align: center;
        }
    
    }
    .impact-container{
        background-image: url('assets/about-us/Impact Background.png');
        /* height: 470px; */
        background-position: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #354463;
        /* padding-left: 50%; */
        /* text-align: center; */
    }
    .impact{
        /* width: 742px; */
        height: 191px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10%;
        & h1{
            /* height: 21vh; */
            /* width: 57vw; */
            margin-left: 5%;
            color: #FFFFFF;
            font-size: 22px;
        }
        & .btn-impact{
            width: 160px;
            height: 40px;
            background-color: #FFFFFF;
            margin-left: 30%;
            /* display: flex; */
            text-align: center;
            /* padding-top: 5%; */
            color: #354463;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .count{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        & h1{
            font-family: flood std;
            color: #FFFFFF;
            font-weight: bold;
            margin-bottom: 0px;
        }
        & p{
            color: #FFFFFF;
            width: 60%;
            margin-top: 0px;
        
        }
    }
    .count-issue{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       
    }
    .slider-container {
        background-color: #354463;
        padding: 5% 10% 0 10%;
        box-sizing: border-box;
        & h1{
            font-family: flood std;
        }
    }

    .slide-wrapper {
        /* position: relative; */
        display: flex;
        overflow-x: auto;
        /* overflow-y: visible; */
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;


    }

    .slide {
        background-color: white;
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10%;
        padding-bottom: 5%;
        position: relative;
    }

    .slide img {
        width: 100%;
        position: relative;
    }

    .slide h3,
    p {
        padding: 0 5%;
    }

    .slide .btn-white {
        width: 30%;
        position: absolute;
        z-index: 2;
        top: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        min-width: 160px;
        font-weight: lighter;
        height: 40px;
        color:#354463;

    }
    .btn-green{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C1F7D5;
        color: #354463;
        font-weight: bold;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        min-width: 160px;
        height: 40px;
        font-size: 18px;
    }

    .slide .slide-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C1F7D5;
        color: #354463;
        font-weight: bold;
        border-radius: 100%;
        opacity: 0.7;
        text-align: center;
        min-width: 40px;
        height: 40px;
        font-size: 40px;
        color: #354463;
        padding-top: 3px;
        text-decoration: none;
        position: absolute;
        top: 25%;
        right: 5px;
    }

    .slide .slide-arrow:hover {
        box-shadow: 0 0 10px 3px rgba(75, 255, 123, 0.5);

    }

    .slider-nav {
        display: flex;
        column-gap: 1rem;
        height: 40px;
        justify-content: center;
        padding-top: 5%;
    }

    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        background-color: white;
        border-radius: 50%;
        opacity: 0.75;
    }

    .slider-nav a:hover {
        opacity: 1;
        box-shadow: 0 0 10px 3px rgb(255, 255, 255);

    }

    .slider-title h1 {
        width: 100%;
        text-align: center;
        
    }

    .slider-title .slide-arrow {
        display: none
    }

    .subscribe-container{      
        display: flex;
        /* flex-direction: ; */
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #C1F7D5;
        padding: 5%;
        & h2{
            color: #354463;
        }
    }
    
    .input-div{
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        width: 60%;
        
    }
    .input-div input{
        border: none; 
        outline: none;
    }
    .subscribe-container .btn-black{
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background: #354463;
        min-width: 160px;
        font-weight: lighter;
        

    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15vh 15vh 15vh;
        gap: 40px;
        & h2{
            color: #354463;
        }
    }
    .footer h1{
        margin-top: 70px;
        grid-column: 2;
        font-family: "Flood std", Arial, sans-serif;
        color: #354463;

    }
    .footer h5{
        margin-bottom: 10px;
        color: #354463;
    }
    .footer-contact p{
        margin: 10px 0;
        color: #354463;
        font-weight: lighter;
    }
    
    
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .header{
        display: grid;
        grid-template-areas: "heading btn"
                    "page  btn";
        align-items: center;
        grid-template-columns: 2fr 1fr;
        padding: 2% 5% 2% 5%;
        /* width: 768px; */
    }
    
    .heading{
        grid-area: heading;
        font-size: 28px;
        /* padding-left: 6%; */
        color: #354463;
        font-weight: bold;
       
    }
    .pages{
        grid-area: page;
        display: flex;
        /* justify-content: space-evenly; */
        column-gap: 40px;
        /* width: 500px;  */
        font-size: 16px;
        font-weight:  lighter;
        color: #354463;
    }

    .btn-donate{
        
        grid-area: btn;
        padding: 10px;
        background: #C1F7D5;
        border-radius: 100px;
        text-align: center;
        color: #354463;
        font-weight: bold;

    }
    .stop-container{
        background-image: url('assets/about-us/annie-spratt-427339-unsplash.png');
        background-repeat: no-repeat;
        background-position: 30%;
        background-size: cover;
        height: 608px;
        background-color: #354463;
        display: flex;
        /* justify-content: space-around; */
        flex-direction: column;
        /* padding: 2% 5%; */
        /* width: 768px; */
    }
    .title{
        font-family: flood std;
        color: #FFFFFF;
        width: 181px; 
        height: 136px;
        text-align: left;
        font-size: 44px;
        margin-left: 64px;
        
    }
    .stop-content-container{
        /* width: 540px; */
        /* height: 264px; */
        background-color: #FFFFFF;
        margin-top: 100px;
        border: 2px solid black;
        margin-left: 14%;
        margin-right: 14%;
        & p{
            font-size: 28px;
            color: #354463;
            padding: 5%;
            text-align: center; 
            font-weight: bold;
        
            
            
        }
    }

    .btn-issue{
        width: 160px;
        height: 40px;
        background-color: #354463;
        position: relative;
        top: -20px;
        left: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    .mission-container{
        /* height: 956px; */
        background-color: #354463;
        display: flex;
        flex-direction: column;
        & h1{
            height: 165px;
            padding-left: 14%;
            color: #FFFFFF;
            margin-top: 5%;
            width: 80vw;
            margin-right: 14%;
            font-size: 28px; 
        }
    }
    .btn-mission{
        width: 160px;
        height: 40px;
        margin-top: 10%;
        background-color: #FFFFFF;
        margin-left: 14%;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    
    .icon{
        height: 20%;
    }
    
    .logos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        margin-left: 14%;
        margin-right: 14%;
        grid-gap: 2em;
        margin-top: 5%;
        & h3{
            color: #FFFFFF;
        }
        & p{
            color: #FFFFFF;
            font-weight: lighter;
            padding: 0px;
        }
    }

    .team{
        background-color: #FFFFFF;
        margin-top: 10%;
        height: 984px;
    }

    .leaders{
        display: flex;
        & p{
            width: 344px;
            height: 80px;
            padding-right: 5%;
            padding-left: 10%;
            padding-top: 2%;
            color: #354463;
            font-weight: lighter;
        }
        & h1{
            width: 480px;
            height: 109px;
            margin-left: 14%;
            /* font: normal normal bold 44px/56px Helvetica; */
            color: #354463;
            text-align: left;
        }
    }

    .img{
        width: 220px;
        height: 220px;
    }
    .btn-team{
        margin-left: 14%;
        background-color: #354463;
        width: 160px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    
    .team-pics{
        display: grid;
        grid-template-columns:  repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        margin-left: 14%;
        & .name{
            position: relative;
            top: -25px;
            left: 10%;
            background-color: #354463;
            width: 220px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
        }
    
    }

    .impact-container{
        background-image: url('assets/about-us/Impact Background.png');
        /* height: 570px; */
        background-position: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #354463;
        /* padding-left: 50%; */
        text-align: center;
    }
    .impact{
        /* width: 742px; */
        height: 191px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10%;
        & h1{
            height: 21vh;
            width: 87vw;
            margin-left: 5%;
            color: #FFFFFF;
        }
        & .btn-impact{
            width: 160px;
            height: 40px;
            background-color: #FFFFFF;
            margin-left: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #354463;
            padding: 1%;
        }
    }
    .count{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        /* margin-left: 10%;
        margin-right: 10%; */
        & h1{
            font-family: flood std;
            color: #FFFFFF;
            font-weight: bold;
            margin-bottom: 0px;
            font-size: 70px;
        }
        & p{
            color: #FFFFFF;
            width: 10vw;
            width: 288px;
            /* height: 73px; */
            margin-left: 20%;
            margin-top: 0px;
            font-size: 28px;
        }
    }

    .count-issue{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       
    }
    .slider-container {
        background-color: #354463;
        padding: 5% 10% 0 10%;
        box-sizing: border-box;
    }
    .slide-wrapper {
        /* position: relative; */
        display: flex;
        overflow-x: auto;
        column-gap: 10%; 
        /* overflow-y: visible; */
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    
    
    }

    .slide {
        background-color: white;
        flex: 1 0 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-top: 10%;
    
        padding-bottom: 5%;
    
        position: relative;
    
    }
    .slide img {
        width: 100%;
        position: relative;
        display: flex;
        /* justify-content: space-between; */
    }

    .slide h3,
    p {
    padding: 0 3%;
    }
    .slide .btn-white {
        width: 30%;
        position: absolute;
        z-index: 2;
        top: -20px;
        margin-left: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        min-width: 160px;
        font-weight: lighter;
        height: 40px;
        color:#354463;
    }
    .slide .btn-green {
        width: 30%;
        margin-left: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C1F7D5;
        color: #354463;
        font-weight: bold;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        min-width: 160px;
        height: 40px;
        font-size: 18px;
        
    }
    .slide .slide-arrow {
        display: none;
    }
    .slider-nav {
        display: flex;
        column-gap: 1rem;
        height: 40px;
        justify-content: center;
        padding-top: 5%;
    }
    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        background-color: white;
        border-radius: 50%;
        opacity: 0.75;
    }
    .slider-nav a:hover {
        opacity: 1;
        box-shadow: 0 0 10px 3px rgb(255, 255, 255);
    
    }
    .slider-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .slider-title h1 {
        width: 80%;
        text-align: left;
        font-family: 'Flood Std';
    }
    
    .slider-title .slide-arrow {
        background-color: #C1F7D5;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        /* align-self: center; */
        padding: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .slider-title .slide-arrow:hover {
        box-shadow: 0 0 10px 3px rgba(75, 255, 123, 0.5);
    
    }

    .subscribe-container{
        display: flex;
        /* flex-direction: ; */
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #C1F7D5;
        padding: 5%;
    }
    .subscribe-container h2{
        width: 70%;
        color: #354463;
    }
    .input-div{
        width: 65%;
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
    }
    .input-div input{
        
        border: none; 
        outline: none;
    }
    .subscribe-container .btn-black{
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background: #354463;
        min-width: 160px;
        font-weight: lighter;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15vh 15vh;
        gap: 40px;
        height: 750px;

        
    }
    .footer h1{
        margin-top: 40px;
        font-family: flood std;
        color: #354463;
    }
    .footer h2{
        grid-row: 1/3;
        color: #354463;
    }
    .footer h5{
        margin-bottom: 10px;
        color: #354463;
        
    }
    .footer-contact p{
        margin: 10px 0;
        text-decoration: underline;
        font-weight: lighter;
        color: #354463;
    }
    .footer-contact hr{
      display: none;
    }

}












    









