*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    
}


/* header */
header{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
header .logo{
    color:#354463;
    font-size: 1.75rem;
    font-weight: bold;
    width:194px;
    height: 64px;
    text-decoration: none;
    margin-bottom: 28px;
}

.background1{
    background-image: url('assets/donation/annie-spratt-427340-unsplash@2x.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    opacity: 1;
    height:1224px; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.font{
    font-family: Flood Std;
    font-size: 2.75rem;


}
.flood{
    font-family: Flood Std;
    font-size: 2.75rem;
    margin-top:70px ;
    width: 384px;
    height: 364px;
    color: #ffffff;


}
.container1{
    background-color: #354463;
    width:544px;
    height:1016px;
    color: white;
    padding:64px 64px 0px 0;
    align-self: center;
}
.info{
    padding:0 0 29px 30px;
}
.text{
    font-size:1.75rem ;

}
hr{
    border:none;
    border-top:1px solid #C1F7D5;
    margin-bottom: 26px;
}
input, #state{
    outline: none;
    border: none;
    border-bottom: 1px solid #C1F7D5;
    background-color: transparent;
    margin-bottom: 10px;
}
input::placeholder{
    font-size:1.25rem ;
}
select{
    color:#C1F7D5 ;
}

.names,
.add-details{
    display: flex;
    justify-content: space-evenly;
    border: none;
}
.names input{
    width: 225px;
    height:62px;
    border-bottom: 1px solid #C1F7D5 ;

}
#city{
    width: 200px;
    height:62px;
    margin-right: 40px;
}
.address input,
.email input,
.card input{
    width:500px;
    height: 62px;
   
}
.address,.email,.card{
    margin-left:30px;
}

#zipcode, #state,#expire,#year{
    width:96px ;
    height: 63px;
}
#code{
    width: 108px;
    height: 63px;
}

.payment{
    padding:20px 0 20px 5%;
}
.card-details{
    display: flex;
    justify-content: space-around
    
}
.year1 label{
    color:#354463
}
#year1{
    text-align: center;
}

.click{
    font-size: 1.75rem;
    width:512px;
    height: 89px;
    margin: 20px 0 0 30px;

}
#back{
    color: #C1F7D5;
    margin-left:30px;
}
#payment{
    display: inline;
    padding: 15px;
    border-radius: 100px;
    font-size: 1.375rem;
    background-color: #C1F7D5;
    color:#354463;
    text-align: center;
}
.process{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

/* footer */
footer{
    height: 371px;
    box-sizing: border-box;
}                                                                                 
footer .logo{
    color:#354463;
    font-size: 1.75rem;
    font-weight: bold;
    width:192px;
    height: 64px;
    text-decoration: none;
}
.container2{
    display: grid;
    grid-template-columns:repeat(5,200px);
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0 0px;
    /* column-gap: 5%; */
}
.container2 p{
    width: 126px;
    height: 74px;
    color: #354463;

}
.container2 hr{
    width:120px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.container2 ul li{
    list-style-type: none;

}
.gap{
    color: #354463;
}
.container2 ul li a{
    text-decoration: none;
    color: #354463;
}
.flood1{
    width:181px ;
    height:136px;
    text-align: center;
    color: #354463;

}

/* mobile */
@media screen and (max-width:650px) {
    /* header */
    header{
        height: 80px;
        text-align: center;
        box-sizing: border-box;
    }

    header .logo{
        margin-top: 30px;
        margin-bottom: 19px;
        font-size: 18px;
    }
    .background1{
        width: 100%;
        background-size:cover;
        background-position: 80%;
        height:985px; 
        flex-direction: column;
        align-items: space-around;
        justify-content: flex-start;

    }
    .info{
        padding:0 0 25px 2px;
        font-size: 1rem;
    }
    .font{
        font-size: 2rem;
        width: 312px;
        height: 79px;
    
    }
    .flood{
        margin:20px 0 20px 0;
        align-self: center;
    }
    .container1{
        background-color: #354463;
        width:312px;
        height:816px;
        padding:32px 32px 0px 32px;
        font-size: 0.6875rem;
        box-sizing: border-box;
    }
    .text{
        font-size:1.375rem ;
    
    }
    input::placeholder{
        font-size:1rem ;
    }
    .names input{
        width: 116px;
        height:48px;
        margin-right: 20px;

    }
    #city{
        width: 116px;
        height:48px;
        margin-right: 10px;

    }
 
    .address input,
    .email input,
    .card input{
        width:248px;
        height: 48px;
    }
    .address,.email,.card{
        margin-left:3px;
    }
  
    #zipcode, #state,#expire,#year{
        width:50px ;
        height: 49px;

    }

    #code{
        width: 96px;
        height: 48px;
    }

    .click{
        font-size: 1.125rem;
        width:249px;
        height: 83px;
        margin: 10px 0 0 5px;
    }
    .payment{
        font-weight: bold;
        font-size: 1rem;
        padding:1px;
        margin-bottom: 20px;
    }
    #back{
        padding-top:50px;
    }
    #payment{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .process{
        display: flex;
        flex-direction: column-reverse;
        align-content: space-between;
    
    }
    /* footer */
    footer{
        height: 371px;
        box-sizing: border-box;
    }                                                                                 
    footer .logo{
        color:#354463;
        font-size: 1.75rem;
        font-weight: bold;
        width:192px;
        height: 64px;
        text-decoration: none;
    }
    .container2{
        display: grid;
        grid-template-columns:repeat(2,150px);
        margin-top: 50px;
        row-gap: 20%;
        column-gap: 10%;

    }
    .container2 p{
        width: 126px;
        height: 74px;

    }
    .container2 hr{
        display: none;
    }
    .container2 ul li{
        list-style-type: none;

    }
    .container2 ul li a{
        text-decoration: none;
        color: black;
    }
    .flood1{
        grid-column:2;
        grid-row: 3;
        text-align: left;
        width:150px;
}
}

/* Tablet */
@media screen and (min-width:650px) and (max-width:1024px){
    header{
        height: 112px;
    }

    header .logo{
        margin-bottom: 29px;
    }
    .background1{
        background-image: url('assets/donation/annie-spratt-427340-unsplash.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height:1296px; 
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .font{
        font-family: Flood Std;
        font-size: 2.75rem;
        width: 514px;
        height: 104px;
    
    }
    /* footer */
    .container2{
        grid-template-columns:repeat(3,180px);
        row-gap: 10%;
        column-gap: 5%
    }
    .flood1{
        grid-column: 3;
        grid-row: 2;
        width:181px ;
        height:136px;
        text-align: center;
        /* font-size: 2.7rem; */
    }
    .follow{
        grid-column: 2;
        grid-row: 2;
    }
    .process{
        display: flex;
        margin-top: 40px;
    }
    .click{
        margin-top: 20px;
    
    }


    
}