body{
    color: #354463;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
.action-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #C1F7D5;
    justify-content: space-evenly;
    padding: 0 10% 0 10%;
}
.take-action-btn{
    position: relative;
    height: 40px;
    font-size: 16px;
    top: -20px
}

.btn-green{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1F7D5;
    color: #354463;
    font-weight: bold;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    min-width: 160px;
    height: 40px;
    font-size: 18px;
}

.btn-green :hover{
    color: black;
    background-color: #b2f9cc;
}

.btn-black{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #354463;
    min-width: 160px;
    font-weight: lighter;
}
  
.btn-white{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-width: 160px;
    font-weight: lighter;
    height: 40px;
    color:#354463;
}
  
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-img-detail{
    font-size: 44px;
}


/* Media Query for Mobile Devices */
@media only screen and (max-width: 767px){
    
    .header{
        display: grid;
        grid-template-areas: "title page" "btn  btn";
        align-items: center;
        margin-bottom: 4%;
        padding: 0 10% 0 10%;
    }
    
    .title{
        grid-area: title;
        font-size: 22px;
       
    }
    .pages{
        grid-area: page;
        
        font-weight:  lighter;
        
    
    
    }
    .btn-green btn{
        grid-area: btn;
        height: 40px;
        background: #C1F7D5;
        border-radius: 100px;
        
    }    
        

    .stop-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 44px;
        background-image: url("assets/assets/home/annie-spratt-135307-unsplash.png");
        background-repeat: no-repeat;
        background-size: cover; /* Or contain, depending on your needs */
        background-position: 80%; /* Center the image */
        font-family: "Helvetica";
        min-height: 50vh;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 12%;

    }
    .stop-container > .title{
        width: 181px;
        height: 136px;
        color: #FFFFFF;
        font-size: 44px;
        font-family: "Flood std", Arial, sans-serif;

    }
    .stop-content-container{
        position: relative;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;

        padding-bottom: 4%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .stop-btn{
        position: relative;
        top: -20px;
        width: 160px;
        height: 40px;
        font-size: 14px;
    }
     .stop-content-container p{
        font-size: 28px;
        font-weight: bold;
     }

    .underline{
        text-decoration: underline;
        font-size: 16px;
    }

    .action-container p{
        font-size: 16px;
        font-weight: lighter;
    }
    .action-container .actions{
        font-weight: bold;
        width: 50%;
    }
    .mission-container{
        display: flex;
        flex-wrap: wrap;
        background-color: #354463;
        padding: 10%;
        justify-content: center;
    }
    .mission-btn{
        font-size: 14px;
    }
    .mission-do-container{
        color: white;
        text-align: center;
        margin-top: 5%;
        font-size: 22px;
        font-weight: bold;
        font-family: Helvetica;
    }
    .mission-list{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0 5% 5% 5%;
     background-color: white;
     margin: 12% 0 15% 0;

    }
    .mission-img {
        position: relative;
        width: 100%; /* Ensure the container spans the full width */
        max-width: 300px; /* Set a maximum width for the container */

        height: auto; /* Allow the container's height to adjust based on content */
    }
    
    .mission-img img {
        position: relative;
        top: -20px;
        width: 100%; /*Ensure the image spans the full width of its container*/
        height: auto; /* Allow the image's height to adjust based on its aspect ratio */
    }
    
    .mission-list h3{
        text-align: center;
    }
    .mission-list p{
        text-align: center;
        font-family: Helvetica;
        color: #354463;
        font-size: 16px;
    }

    .issue-container{
        display: flex;
        flex-direction: column;
        background-image: url(" assets/assets/home/did-you-know-background.png");
        /* background-position: center; */
        background-size:cover;
        background-repeat: no-repeat;
        padding: 10%;
       
    }
    .issue-heading{
        max-width: 60%;
        color: #FFFFFF;
    }

    .issue-heading h2{
        font-family: "Flood std", Arial, sans-serif; 
    }

    .know-btn{
        position: relative;
        height: 40px;
        bottom: -40px;
        max-width: 30%;
    }
    .issue{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin: 5% 0 5% 0;
        padding: 5%;
    }
    .issue h2{
        width: 50%;
    }


    .story-container{
        display: flex;
        flex-direction: column;
        /* padding: 10%; */
        margin-top: 10%;
        align-items: center;
    }
 
    .person-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .person-1 .btn-black{
        position: relative;
        width: 25%;
        height: 40px;
        bottom: -20px;

    }
    .person-1 img{
        width: 100%;
    }
    .story{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        row-gap: 15px;

    }
    .story h2{
        text-align: center;
    }
    .story p{
        text-align: center;
    }

    .event-container{
        background-color: #354463;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        text-align: center;
        color: white;
        /* font-family: "Flood std", Arial, sans-serif; */
    }

    .event-container h1{
        font-family: "Flood std", Arial, sans-serif;
    }
    
    .event-list-container{
        display: flex;
        flex-direction: column;
        background-color: #354463;
    
    }
    .event-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .event-img .btn-white{
        position: relative;
        width: 25%;
        bottom: -20px;
    }
    .event-img img{
        height: 312px;
        width: 312px;
    }
    
    .event-img-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 20px;
    }
    .event-img-detail .btn-green{
        width: 25%;
        margin-bottom: 10%;
    }
    .event-img-detail p{
        font-size: 16px;
    }
    
    .subscribe-container{
        display: flex;
        /* flex-direction: ; */
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #C1F7D5;
        padding: 5%;
    }
    
    .input-div{
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
    }
    .input-div input{
        border: none; 
        outline: none;
    }
    .subscribe-container .btn-black{
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
        margin-top: 5px;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15vh 15vh 15vh;
        gap: 40px;
    }
    .footer h1{
        margin-top: 70px;
        grid-column: 2;
        font-family: "Flood std", Arial, sans-serif;

    }
    .footer h5{
        margin-bottom: 10px;
    }
    .footer-contact p{
        margin: 10px 0;
        text-decoration: underline;
        font-weight: lighter;
    }

}



/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
      
    .header{
        display: grid;
        grid-template-areas: "title btn"
                    "page  btn";
        align-items: center;
        grid-template-columns: 2fr 1fr;
        padding: 2% 5% 2% 5%;
    }
    
    .title{
        grid-area: title;
        font-size: 22px;
       
    }
    .pages{
        grid-area: page;
        display: flex;
        /* justify-content: space-between; */
        column-gap: 40px;

        font-size: 16px;
        font-weight:  lighter;
        
    
    
    }
    .btn{
        
        grid-area: btn;
        place-self:center;
        width: 140px;
        height: 48px;
    }

    .stop-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 44px;
        background-image: url("assets/assets/home/annie-spratt-135307-unsplash@2x.png");
        background-repeat: no-repeat;
        background-size: cover; /* Or contain, depending on your needs */
        background-position: 80%; /* Center the image */
        min-height: 50vh;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 12%;

    }
    .stop-container  .title{
        width: 181px;
        height: 136px;
        color: #FFFFFF;
        font-size: 44px;
        font-family: "Flood std", Arial, sans-serif;

    }
    .stop-content-container{
        position: relative;
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: left;
        background-color: #FFFFFF;

        padding-bottom: 4%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .stop-btn{
        position: relative;
        top: -20px;
        width: 160px;
        height: 40px;
        font-size: 14px;
    }
     .stop-content-container p{
        font-size: 28px;
        font-weight: bold;
     }

    .underline{
        text-decoration: underline;
        font-size: 16px;
    }

    .action-container p{
        font-size: 16px;
        font-weight: lighter;
    }
    .action-container .actions{
        font-weight: bold;
        width: 50%;
    }    
    .mission-container{
        display: flex;
        flex-wrap: wrap;
        background-color: #354463;
        padding: 10% 10% 0 10%;
        justify-content: left;
    }
    .mission-btn{
        font-size: 14px;

    }
    .mission-do-container{
        color: white;
        text-align: left;
        margin-top: 5%;
        font-size: 22px;
        font-weight: bold;
        font-family: Helvetica;
    }


    .mission-list{
     position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     padding: 0 5% 0 5%;
     background-color: white;
     margin: 12% 0 10% 0;
     height: 22%;

    }
    .mission-img {
        position: relative;
        width: 45%; /* Ensure the container spans the full width */
        max-width: 300px; /* Set a maximum width for the container */
        height: auto; /* Allow the container's height to adjust based on content */
    }
    
    .mission-img img {
        position: relative;
        top: -20px;
        width: 100%; /*Ensure the image spans the full width of its container*/
        height: 180px; /* Allow the image's height to adjust based on its aspect ratio */
    }
    
    .mission-list h3{
        position: relative;
        width: 50%;
        text-align: center;
        top: -40px;
    }
    .mission-list p{
        position: relative;
        top: -100px;
        text-align: center;
        width: 50%;
        font-family: Helvetica;
        color: #354463;
        order: 1;
    }
    .mission-btn-green{
      display: flex;  
      justify-content: flex-end;
      position: relative;
      width: 45%;
    }
    .mission-btn-green .btn-green{
        position: relative;
        top: -40px;
        width: 30%;
    }
     

     .story-container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0 0 40% 0;
        margin-top: 10%;
        align-items: center;
    }
 
    .person-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

    }
    .person-1 .btn-black{
        position: relative;
        width: 25%;
        height: 40px;
        bottom: -20px;
        left: 10%;

    }

    .event-container h1{
        font-family: "Flood std", Arial, sans-serif;
        
    }
    .person-1 img{
        width: 100%;
    }
    .story{
        position: relative;
        right: -8%;
        top: -40px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 75%;

    }
    .story h2{
        text-align: left;
    }
    .story p{
        text-align: left;
    }

    .subscribe-container{
        display: flex;
        /* flex-direction: ; */
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #C1F7D5;
        padding: 5%;
    }
    .subscribe-container h2{
        width: 70%;
    }
    .input-div{
        width: 65%;
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
    }
    .input-div input{
        
        border: none; 
        outline: none;
    }
    .subscribe-container .btn-black{
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15vh 15vh;
        gap: 40px;
    }
    .footer h1{
        margin-top: 40px;
        font-family: flood std;
        
    }
    .footer h2{
        grid-row: 1/3;
    }
    .footer h5{
        margin-bottom: 10px;
        
    }
    .footer-contact p{
        margin: 10px 0;
        text-decoration: underline;
        font-weight: lighter;
    }
    .footer-contact hr{
      display: none;
    }
}

/* Media Query for Desktop Devices */
@media only screen and (min-width: 1024px){
      
    .header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 2% 5% 2% 5%;
    }
    
    .title{
       
        font-size: 22px;
       
    }
    .pages{
       
        display: flex;
        width: 50%;
        justify-content:space-evenly;
        font-weight:  lighter;
        font-size: 16px;
        
    
    
    }
    .btn{
        width: 160px;
        height: 48px;
    }


    .stop-container {
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        font-size: 44px;
        background-image: url("assets/assets/home/annie-spratt-135307-unsplash@2x.png");
        background-repeat: no-repeat;
        background-size: cover; /* Or contain, depending on your needs */
        background-position: 80%; /* Center the image */
        /* font-family: "Flood std", Arial, sans-serif; */
        min-height: 60vh;
        padding: 10%;

    }
    .stop-container > .title{
        width: 181px;
        height: 136px;
        color: #FFFFFF;
        font-family: "Flood std", Arial, sans-serif;

        font-size: 44px;
    }
    .stop-content-container{
        position: relative;
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: left;
        background-color: #FFFFFF;
        padding-left: 10%;
        padding-right: 10%;

        width: 350px;
        height: 350px;
    }
    .stop-btn{
        position: relative;
        top: -20px;
        width: 160px;
        height: 40px;
        font-size: 14px;
    }
     .stop-content-container p{
        font-size: 28px;
        font-weight: bold;
     }

    .underline{
        text-decoration: underline;
        font-size: 16px;
    }

    .action-container p{
        font-size: 16px;
        font-weight: lighter;
    }
    .action-container .actions{
        font-weight: bold;
        width: 25%;
    }

    .mission-list-flex{
        display: flex;
        column-gap: 20px;
    }
    .mission-container{
        display: flex;
        flex-wrap: wrap;
        background-color: #354463;
        padding: 10%;
        justify-content: center;
        
    }
    .mission-btn{
        font-size: 14px;
    }
    .mission-do-container{
        color: white;
        text-align: center;
        margin-top: 5%;
        font-size: 20px;
        font-weight: bold;
        font-family: Helvetica;
    }
    .mission-list{
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     padding: 0 5% 2% 5%;
     background-color: white;
     margin-top: 12%;

    }
    .mission-img {
        position: relative;
        width: 100%; /* Ensure the container spans the full width */
        max-width: 300px; /* Set a maximum width for the container */

        height: auto; /* Allow the container's height to adjust based on content */
    }
    
    .mission-img img {
        position: relative;
        top: -20px;
        width: 100%; /*Ensure the image spans the full width of its container*/
        height: 180px; /* Allow the image's height to adjust based on its aspect ratio */
    }
    
    .mission-list h3{
        text-align: center;
        margin: 0;
        font-size: 28px;
    }
    .mission-list p{
        text-align: center;
        font-family: Helvetica;
        color: #354463;
        font-size: 16px;
    }

    .event-container h1{
        font-family: "Flood std", Arial, sans-serif;
    }

    .story-container{
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        /* padding: 10%; */
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }
 
    .person-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

    }
    .person-1 .btn-black{
        position: relative;
        width: 25%;
        height: 40px;
        bottom: -20px;
        left: 10%;

    }
    .person-1 img{
        width: 100%;
    }
    .story{
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        top: 4%;
        left: 4%;
        width: 40%;

    }
    .story h2{
        text-align: left;
    }
    .story p{
        text-align: left;
    }


    .subscribe-container{
        display: flex;
        /* flex-direction: ; */
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #C1F7D5;
        padding: 2%;
    }
    .subscribe-container h2{
        width: 40%;
    }
    .input-div{
        width: 30%;
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
    }
    .input-div input{
        
        border: none; 
        outline: none;
    }
    .subscribe-container .btn-black{
        width: 20%;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 40px;
    }

    .footer h1{
        margin-top: 40px;
        font-family: flood std;
    }

    .footer-contact p{
        margin: 10px 0;
        text-decoration: underline;
        font-weight: lighter;
    }
    .footer-contact hr{
      display: none;
    }

}

/* Tablet and desktop*/
@media only screen and (min-width: 767px){
   
    .issue-container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        background-image: url(" assets/assets/home/did-you-know-background.png");
        /* background-position: center; */
        background-size:cover;
        background-repeat: no-repeat;
        padding: 10%;
        column-gap: 10%;
       
    }
    .issue-heading{
        top: 20px;
        position: relative;
        font-size: 44px;
        width: 30%;
        color: #FFFFFF;
      
    }
    .issue-heading h2{
        font-family: "Flood std", Arial, sans-serif; 
    }


    .know-btn{
        position: relative;
        height: 40px;
        bottom: -50px;
        max-width: 30%;
    }
    .issue-list{
        width: 100%;
        margin-left: 5%;
    }
    .issue{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin: 5% 0 5% 0;
        padding: 5%;

    }
    .issue h2{
        width: 50%;
    }

    .event-container{
        position: relative;
        background-color: #354463;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        color: white;
        padding: 5%;
        margin-top: 10%;
    }
    
    .event-container h1{
        width: 70%;
        text-align: left;
    }
    .event-list-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #354463;
    }
    .event-img{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .event-img .btn-white{
        position: relative;
        width: 25%;
        bottom: -20px;
    }
    .event-img img{
        height: 312px;
        width: 312px;
    }
    
    .event-img-detail{
        position: relative;
        top: 20px;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        color: white;
        padding: 20px;
    }
    .event-img-detail .btn-green{
        width: 25%;
        margin-bottom: 10%;
    }
    .event-img-detail p{
        font-size: 16px;
    }
    .event-img-2{
        order:1;
    }


}